<h1 class="display-4 mx-auto">Welcome {name}!</h1>
<p class="lead">Let's get planning</p>

<nav>
  <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-current-tab" data-toggle="tab" href="#current" role="tab" aria-controls="nav-home" aria-selected="true">Current Vessels</a>
    <a class="nav-item nav-link" id="nav-upcoming-tab" data-toggle="tab" href="#upcoming" role="tab" aria-controls="nav-profile" aria-selected="false">Upcoming Vessels</a>
    <a class="nav-item nav-link" id="nav-previous-tab" data-toggle="tab" href="#previous" role="tab" aria-controls="nav-contact" aria-selected="false">Previous Vessels</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="current" role="tabpanel" aria-labelledby="nav-current-tab">
    <h3 class="display-4">Current Vessels</h3>
    <table class="table table-hover">
      <thead>
        <tr>
        <th>Voyage</th>
        <th>Actual Arrival</th>
        <th>Planned Sailing</th>
        <th>Terminal</th>
        <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @voyages.each do |cv| %>
          <% if cv.ata.past? && cv.departed == false %>
            <tr>
              <td><%= cv.vessel.name %> <%= cv.numberout %></td>
              <td><%= cv.ata.strftime("%A, %B %d at %H%M") %></td>
              <td><%= cv.etd.strftime("%A, %B %d at %H%M") %></td>
              <td><%= cv.terminal.name %></td>
              <td>
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                  <%= link_to 'Add Count', root_path, class: 'btn btn-outline-primary btn-sm' %>
                  <%= link_to 'View Counts', root_path, class: 'btn btn-outline-primary btn-sm' %>

                  <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Vessel Plan
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <%= link_to 'View Plan', root_path, class: "dropdown-item" %>
                      <%= link_to 'Modify Plan', edit_plan_path(@plan), class: "dropdown-item" %>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="upcoming" role="tabpanel" aria-labelledby="nav-upcoming-tab">
    <h3 class="display-4">Upcoming Vessels</h3>
    <table class="table table-hover">
      <thead>
        <tr>
        <th>Voyage</th>
        <th>Estimated Arrival</th>
        <th>Planned Sailing</th>
        <th>Terminal</th>
        <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @voyages.each do |uv| %>
          <% if uv.eta.future? %>
            <tr>
              <td><%= uv.vessel.name %> <%= uv.numberout %></td>
              <td><%= uv.eta.strftime("%A, %B %d at %H%M") %></td>
              <td><%= uv.etd.strftime("%A, %B %d at %H%M") %></td>
              <td><%= uv.terminal.name %></td>

              <td><% if uv.plans.blank? %>
                    <%= button_to 'Begin Plan', { controller: 'plans', action: 'create', voyage_id: uv.id }, :method=>:post, class: 'btn btn-outline-primary btn-sm' %>
                    <% else %>
                    <%= button_to 'FIX! View Plan', class: 'btn btn-outline-primary btn-sm' %>
                  <% end %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="previous" role="tabpanel" aria-labelledby="nav-previous-tab">
    <h3 class="display-4">Previous Vessels</h3>
    <table class="table table-hover">
      <thead>
        <tr>
        <th>Voyage</th>
        <th>Actual Arrival</th>
        <th>Actual Sailing</th>
        <th>Terminal</th>
        <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @voyages.each do |pv| %>
            <tr>
              <td><%= pv.vessel.name %> <%= pv.numberout %></td>
              <td><%= pv.ata.strftime("%A %B %d, %Y at %H%M") %></td>
              <td><%= pv.atd.strftime("%A %B %d, %Y at %H%M") %></td>
              <td><%= pv.terminal.name %></td>

              <td><%= link_to 'Vessel Recap', new_plan_path %> (if no shift exists)</td>
            </tr>
        <% end %>
      </tbody>
    </table>
    <h6 class="text-muted">Need vessels from over 4 weeks ago? <%= link_to 'Visit the Archives', archives_path %></h6>
  </div>
</div>

<script>
  $(function () {
    $('#myTab li:last-child a').tab('show')
  })
</script>
