<%= form_with(model: steamship_line, local: true) do |form| %>
  <% if steamship_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(steamship_line.errors.count, "error") %> prohibited this steamship_line from being saved:</h2>

      <ul>
        <% steamship_line.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
