<%= form_with(model: voyage, local: true) do |form| %>
<form>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="vessel_id">Vessel</label>
      <%= form.collection_select(:vessel_id, @vessels, :id, :name, include_blank: true, class: 'form-control') %>
    </div>
    <div class="form-group col-md-1">
      <label for="voyagein">Voyage Number In</label>
      <%= form.text_field :numberin, class: 'form-control', placeholder: "014E" %>
    </div>
    <div class="form-group col-md-1">
      <label for="numberout">Voyage Number Out</label>
      <%= form.text_field :numberout, class: 'form-control', placeholder: "015W" %>
    </div>
  </div>
  <div class="form-row">

    <div class="form-group col-md-6">
      <label for="eta">Estimated Arrival</label>
      <%= form.datetime_select :eta, class: 'form-control'%>
    </div>
    <div class="form-group col-md-6">
      <label for="inputAddress2">Sail Board (ETD)</label>
      <%= form.datetime_select :etd, class: 'form-control' %>
    </div>
  </div>
  <div class="form-row">

    <div class="form-group col-md-6">
      <label for="eta">Actual Arrival</label>
      <%= form.datetime_select :ata, class: 'form-control' %>
    </div>
    <div class="form-group col-md-6">
      <label for="inputAddress2">Actual Sailing</label>
      <%= form.datetime_select :atd, class: 'form-control' %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Terminal</label>
      <%= form.collection_select(:terminal_id, @terminals, :id, :name, include_blank: true, class: 'form-control')%>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Job Number</label>
      <%= form.text_field :job_number, class: 'form-control' %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
</form>
<% end %>
