<p id="notice"><%= notice %></p>

<h1>Voyages</h1>

<table>
  <thead>
    <tr>
      <th>Vessel</th>
      <th>Number In</th>
      <th>Number Out</th>
      <th>Eta</th>
      <th>Etd</th>
      <th>Ata</th>
      <th>Atd</th>
      <th>Terminal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @voyages.each do |voyage| %>
      <tr>
        <td><%= voyage.vessel.name %></td>
        <td><%= voyage.numberin %></td>
        <td><%= voyage.numberout %></td>
        <td><%= voyage.eta %></td>
        <td><%= voyage.etd %></td>
        <td><%= voyage.ata %></td>
        <td><%= voyage.atd %></td>
        <td><%= voyage.terminal.name %></td>

        <td><%= link_to 'Show', voyage %></td>
        <td><%= link_to 'Edit', edit_voyage_path(voyage) %></td>
        <td><%= link_to 'Destroy', voyage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Voyage', new_voyage_path %>
