<%= form_with model: @vessel do |f| %>

  <div class="field">
    <%= f.label :steamship_line_id %>
    <%= f.collection_select(:steamship_line_id, @steamship_lines, :id, :name, include_blank: true)%>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :length_overall %>
    <%= f.number_field :length_overall %>
  </div>
  <h3>Bays</h3>
  <div id='tasks'>
    <%= f.fields_for :bays do |bay| %>
      <%= render 'bay_fields', :f => bay %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add bay', f, :bays %>
    </div>
  </div>
  <%= f.submit 'Save' %>
<% end %>
