<%= form_with model: @vessel do |f| %>


<form>
  <div class="form-row">
    <div class="col-7">
      <%= f.label :steamship_line_id %>
      <%= f.collection_select(:steamship_line_id, @steamship_lines, :id, :name, include_blank: true, class: 'dropdown-menu')%>
    </div>
    <div class="col">
      <%= f.text_field :name, class: 'form-control', placeholder: "Vessel Name" %>
    </div>
    <div class="col">
      <%= f.number_field :length_overall, class: 'form-control', placeholder: "LOA" %>
    </div>
  </div>

  <h3>Bays</h3>
  <div id='tasks'>
    <%= f.fields_for :bays do |bay| %>
      <%= render 'bay_fields', :f => bay %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add bay', f, :bays %>
    </div>
  </div>
  <%= f.submit 'Save' %>
</form>
<% end %>
