<p id="notice"><%= notice %></p>

<h1>Longshore Regs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @longshore_regs.each do |longshore_reg| %>
      <tr>
        <td><%= longshore_reg.name %></td>
        <td><%= longshore_reg.number %></td>
        <td><%= link_to 'Show', longshore_reg %></td>
        <td><%= link_to 'Edit', edit_longshore_reg_path(longshore_reg) %></td>
        <td><%= link_to 'Destroy', longshore_reg, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Longshore Reg', new_longshore_reg_path %>
