<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @longshore_reg.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @longshore_reg.number %>
</p>

<%= link_to 'Edit', edit_longshore_reg_path(@longshore_reg) %> |
<%= link_to 'Back', longshore_regs_path %>
