<%= form_with(model: shift, local: true) do |f| %>
  <% if shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(voyage.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
        <% voyage.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :numberin %>
    <%= form.text_field :numberin %>
  </div>

  <div class="field">
    <%= form.label :numberout %>
    <%= form.text_field :numberout %>
  </div>

  <div class="field">
    <%= form.label :eta %>
    <%= form.datetime_select :eta %>
  </div>

  <div class="field">
    <%= form.label :etd %>
    <%= form.datetime_select :etd %>
  </div>

  <div class="field">
    <%= form.label :ata %>
    <%= form.datetime_select :ata %>
  </div>

  <div class="field">
    <%= form.label :atd %>
    <%= form.datetime_select :atd %>
  </div>

  <div class="field">
    <%= form.label :terminal_id %>
    <%= form.collection_select(:terminal_id, @terminals, :id, :name, include_blank: true)%>
  </div>

  <div class="field">
    <%= form.label :vessel_id %>
    <%= form.collection_select(:vessel_id, @vessels, :id, :name, include_blank: true)%>
  </div>

  <div class="field">
    <%= form.label :job_number %>
    <%= form.text_field :job_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
