<p>
  <strong>Plan for:</strong>
  <%= @plan.voyage.vessel.name %>
  <%= @plan.voyage.numberout %>
  Arriving <%= @plan.voyage.eta.to_formatted_s(:long) %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
